@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme main {
  --primary: #8a57fb;
  --primary-hover: #732ee2;

  --linne-purple: #262549;
  --linne-purple-hover: #1e1b3d;
  --linne-purple-hover-2: #141332;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141332;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans Thai", "Raleway", sans-serif;
}